.table-sort th {
  cursor: pointer;
}

.table-sort .th-sort-asc::after {
  content: "\25b4";
}

.table-sort .th-sort-desc::after {
  content: "\25be";
}

.table-sort .th-sort-asc::after,
.table-sort .th-sort-desc::after {
  margin-left: 20px;
}

.table-sort .th-sort-asc,
.table-sort .th-sort-desc {
  background: rgbba(0, 0, 0, 0.2);
}
